<!doctype html>
<html lang="ru">
<head>
  {% set pageTitle %}
    {{ title or renderData.title }} – {{ siteInfo.name }}
  {% endset %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="google" content="notranslate">
  <meta name="generator" content="11ty">

  <link rel="author" href="/humans.txt">
  <link rel="me" href="mailto:mephistorine@gmail.com">
  <link rel="index" href="https://mephi.dev/">

  <link id="code-theme-link" rel="stylesheet" href="/static/styles/light-code-theme.css">
  <link rel="stylesheet" href="/static/styles/index.css">

  <!-- region FAVICONS -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/pictures/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/pictures/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/pictures/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/pictures/favicons/site.webmanifest">
  <link rel="mask-icon" href="/static/pictures/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- endregion FAVICONS -->

  <!-- region TWITTER -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ siteInfo.author.twitter }}">
  <meta name="twitter:creator" content="@{{ siteInfo.author.twitter }}">
  <meta name="twitter:url" content="{{ page.url | url | absoluteUrl(siteInfo.url) }}">
  <meta name="twitter:title" content="{{ pageTitle | trim }}">
  <meta name="twitter:description" content="{{ excerpt or siteInfo.description | trim }}">

  <meta name="twitter:image" content="{{ poster.src or '/static/pictures/site-social-preview.jpg' | url | absoluteUrl(siteInfo.url) }}">
  <!-- endregion TWITTER -->

  <script src="/static/scripts/main.js"></script>

  <title>{{ pageTitle }}</title>
</head>
<body class="body">
<header class="header">
  <div class="container">
    <div class="author-name-container">
      <p>
        <a href="/">Сэм Булатов</a>
      </p>
    </div>

    <div class="menu-container">
      <nav>
        <ul class="site-menu">
          {% for menuItem in siteInfo.menu %}
          <li>
            <a href="{{ menuItem.url }}">{{ menuItem.label }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>

    <div class="theme-switcher-container">
      <button class="theme-switcher-button">
        <span class="theme-switcher-label-light">Светлая</span>
        <span class="theme-switcher-label-dark">Темная</span>
      </button>
    </div>
  </div>
</header>

<main class="main">
  {{ content | safe }}
</main>

<footer class="footer">
  <div class="container">
    <div class="copyright-container">
      <p>Сэм</p>
    </div>

    <div class="logo-container">
      <img src="/static/pictures/mephistorine.svg" alt="Логотип Сэма Булатова" aria-hidden="true">
    </div>

    <div class="copyright-container">
      <p>&copy; 2021</p>
    </div>
  </div>
</footer>
</body>
</html>
