.body {
  margin: 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: 16px;

  --accent-color: #8870ff;

  transition: 250ms linear color, 250ms linear background-color;

  --text-color: #222222;
  --invert-text-color: #ffffff;

  --bg-color: #ffffff;
}

.body.is-dark-theme {
  --text-color: #dfdfdf;
  --invert-text-color: #222222;
  --bg-color: #222222;
}

button {
  cursor: pointer;
  font: inherit;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

.is-dark-theme a {
  --accent-color: #a08ff3;
}

a:hover {
  text-decoration: underline;
}

blockquote > p {
  margin: 0;
}

blockquote::before {
  font-family: monospace;
  content: '>';
  display: block;
  color: var(--accent-color);
  position: absolute;
  top: 1.5rem;
  left: 0;
}

blockquote {
  margin: 1.5em 0;
  padding: 1.5rem 1rem 1.5rem 2rem;
  border-block: 1px solid var(--accent-color);
  position: relative;
}

blockquote cite {
  margin-block-start: 1rem;
  display: block;
}

blockquote cite::before {
  content: '—';
  display: inline-block;
  margin-inline-end: 1rem;
}

figure img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0 0 1rem;
}

figure figcaption {
  color: #898989;
  text-align: center;
  font-size: 0.9em;
}

.is-article-page ul,
.is-article-page ol {
  list-style: none;
  padding-left: 1.5rem;
}

.is-article-page ol {
  counter-reset: li;
}

.is-article-page li {
  position: relative;
}

.is-article-page ol li {
  counter-increment: li;
}

.is-article-page ol li::before,
.is-article-page ul li::before {
  color: var(--accent-color);
  font-family: 'Cascadia Code', 'Fira Code', monospace;
  text-align: end;
  position: absolute;
  right: calc(100% + .4rem);
}

.is-article-page ol li::before {
  content: counter(li);
}

.is-article-page ul li::before {
  content: '-';
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.header {
  padding: 1rem 0;
  border-bottom: 1px solid hsl(0deg 0% 0% / 8%);
}

.is-dark-theme .header {
  border-bottom-color: hsl(0deg 0% 100% / 8%);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.author-name-container {
  flex-grow: 1;
  font-weight: bold;
}

.author-name-container p {
  margin: 0;
}

.site-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.site-menu li:not(:last-child) {
  margin-right: 1rem;
}

.theme-switcher-button {
  color: #ffffff;
  background-color: #333333;
  padding: 0.25rem 0.5rem;
  border: none;

  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.is-dark-theme .theme-switcher-button {
  color: #333333;
  background-color: #ffffff;
}

.theme-switcher-label-light {
  display: none;
}

.is-dark-theme .theme-switcher-label-dark {
  display: none;
}

.is-dark-theme .theme-switcher-label-light {
  display: block;
}

.hero .title {
  font-size: 3.5em;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .logo-container img {
  width: 20px;
}

ul.article-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-menu a {
  white-space: nowrap;
}

.alert {
  padding: 1.7rem 0.5rem 0.2rem 0.5rem;
  border-radius: 5px;
  position: relative;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 1rem;
}

.alert > *:first-child {
  margin-top: 0;
}

.alert > *:last-child {
  margin-bottom: 0;
}

.alert::before {
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 7px;
  border-bottom-right-radius: 5px;
  font-size: 0.8em;
}

.alert.note {
  background-color: hsl(245deg 82% 54% / 33%);
  border-color: hsl(244.7, 76.8%, 54.3%);
}

.alert.note::before {
  content: 'Заметка:';
  background-color: hsl(244.7, 76.8%, 54.3%);
}

.alert.error {
  background-color: hsl(0deg 84% 67% / 33%);
  border-color: hsl(0deg 82% 67%);
}

.alert.error::before {
  content: 'Важно:';
  background-color: hsl(0deg 82% 67%);
}

pre {
  overflow-x: auto;
}

pre[class*="language-"] {
  background-color: transparent;
  border: 1px solid hsl(0deg 0% 0% / 19%);
}

.is-dark-theme pre[class*="language-"] {
  border: 1px solid hsla(0deg 0% 100% / 19%);
}

.article-poster-container img {
  max-width: 100%;
  height: auto;
}

.article-title {
  font-size: 4rem;
  margin: 0;
  line-height: 1;
}

.article-create-time,
.post-type {
  color: hsl(0deg 0% 0% / 32%);
}

.is-dark-theme .article-create-time,
.is-dark-theme .post-type {
  color: hsla(0deg 0% 100% / 53%);
}

.article-tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.article-header {
  margin: 1rem auto;
}

.talk-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.talk-title {
  margin-top: 0;
}

.talk-list-item:not(:last-child) {
  border-bottom: 1px solid hsl(0deg 0% 87% / 17%);
  margin-bottom: 1rem;
}

.all-articles .section .title,
.recent-articles .title {
  margin-bottom: 0;
}


@media screen and (max-width: 599px) {
  .header .container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu-container {
    width: 100%;
    order: 1;
    overflow-x: auto;
  }

  .container {
    padding: 0 1rem;
  }

  .hero .title {
    font-size: 2.2em;
  }

  .article-title {
    font-size: 3rem;
  }
}
